
/* About section */
.about-body h1{
    font-weight: 700;
    margin-bottom: 20px;
}
.about-container{
    background-color: rgba(128, 128, 128, 0.048);
    height: 80vh;
    border-radius: 25px;
    padding: 30px;
}

