:root{
    --color: rgb(38, 47, 97);
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Baloo Bhaijaan 2", serif;
    direction: rtl;

}
.hello{
    height: 100vh;
}
/* Header section  */
header{
    position: sticky;
    top: 0;
    z-index: 1000;
    font-family: "Baloo Bhaijaan 2", serif;
    font-style: normal;

    direction: rtl;
    text-align: right;

    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.158);
    width: 100%;
    color: var(--color);
    height: 90px;
    padding: 0 50px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
header h2{
    display: none;
    
}
header .name{
    font-size: 25px;
    font-weight: 600;
}
header .nav{
    font-size: 20px;
    font-weight: 600;
}
ul{
    float: right;
    display: flex; 
    margin-top: 15px;
    gap: 55px;
}
li{
    float: right;
}
a{
    text-decoration: none;
    color: var(--color);
}

/* home section  */
.home-body{
    height: 105vh;
}
.slide-container img{
    width: 1100px;
    border: 2px solid var(--color);
}
.alum{
    background-color: rgba(128, 128, 128, 0.041);
    border-radius: 15px;
}
.alum p{
    font-size: 20px;
}
.sub-heading{
    display: flex;
}
.sub-heading i{
    font-size: 20px;
    padding: 5px;
}
.sub-heading h2{
    color: var(--color);
    font-weight: 600;
}
.alum p{
    font-size: 20px;
    padding: 10px;
}
.alum-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.alum-container img{
    width: 300px;
    height: 350px;
    margin: 10px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
}

















@media screen and (max-width: 600px){
   
    .hello{
        height: 40vh;
    }
   
    nav{
        display: none;
    }
    header h2{
        display: flex;
        font-size: 23px;
        margin-bottom: 15px;
    }
    header .name{
        font-size: 15px;
    }
    .slide-container img{
        width: 340px;
        height: 220px;
        border: 2px solid var(--color);
    }
    .sub-heading h2{
        font-size: 20px;
    }
    .sub-heading i{
        font-size: 15px;
    }
    .alum p{
        font-size: 17px;
        padding: 10px;
    }
    .alum-container{
        display: block;
    }
    .alum-container img{
        width: 350px;
        height: 200px;
    }
    .alum-img{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
}

@media screen and (min-width: 600px) and (max-width: 900px){
    nav{
        display: none;
    }
    header .name{
        font-size: 20px;
    }
    .slide-container img{
        width: 600px;
        border: 2px solid var(--color);
    }
}

@media screen and (min-width: 900px) and (max-width: 1200px){
    header .name{
        font-size: 20px;
    }
    header .nav{
        font-size: 12px;
    }
    .slide-container img{
        width: 800px;
        border: 2px solid var(--color);
    }
}
